{% extends "base.html" %}
{% block title %} Afficher Candidat {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Candidat
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            FK_Candidat
                        </th>
                        <th class="align-middle">
                            FK_Competence
                        </th>
                        <th class="align-middle">
							Niveau
                        </th>
                        
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.FK_Candidat }}
						</td>
						<td class="align-middle">
							{{ row.FK_Competence }}
						</td>
						<td class="align-middle">
							{{ row.Niveau }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('competences_candidat_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('competences_candidat_update_wtf', id_competences_candidat_btn_edit_html=row.FK_Candidat) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('competences_candidat_delete_wtf', id_competences_candidat_btn_delete_html=row.FK_Candidat) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun Candidat.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('competences_candidat_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

