{% extends "base.html" %}
{% block title %} Éditer une expérience professionnelle (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Éditer une expérience professionnelle
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update.ID_Experience.label }}<br>
						{{ form_update.ID_Experience(size=32) }}<br>
						{% for error in form_update.ID_Experience.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.FK_Candidat.label }}<br>
						{{ form_update.FK_Candidat(size=32) }}<br>
						{% for error in form_update.FK_Candidat.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.Entreprise.label }}<br>
						{{ form_update.Entreprise(size=32) }}<br>
						{% for error in form_update.Entreprise.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.Titre_Poste.label }}<br>
						{{ form_update.Titre_Poste(size=32) }}<br>
						{% for error in form_update.Titre_Poste.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.Date_Debut.label }}<br>
						{{ form_update.Date_Debut(size=32) }}<br>
						{% for error in form_update.Date_Debut.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.Date_Fin.label }}<br>
						{{ form_update.Date_Fin(size=32) }}<br>
						{% for error in form_update.Date_Fin.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.Description.label }}<br>
						{{ form_update.Description(size=32) }}<br>
						{% for error in form_update.Description.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}
